<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD39uylQpd5kvvfiyC8y4319DRa8pi-nuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>983679982151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messengerapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>messengerdb-1d596</string>
	<key>STORAGE_BUCKET</key>
	<string>messengerdb-1d596.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983679982151:ios:ae4926be9c2771d2bc2f62</string>
</dict>
</plist>